 body {
        background: #FFFFFF;
        margin: 0;
      }
      header{
        background-color: black;
        font-family: fantasy;
        font-size: 20px;
        padding: 5px;
      }
      main{
        background: #FFFFFF;
        margin: 0;
      }
      a{
        color:#ffec9f;
        text-align: left ;
        text-decoration:none ;
      }
      
      #p1{
        float: right;
      }
      article{
        margin: 80px 20px 20px;
        max-width:300px;
        height:300px;
        font-family: cursive;
        font-size: 20px;
        float: left;
        text-align: left;
      }
      p1{
        color:#e26278;
        font-size:25px;
      }
     .mySlides {
      display:none;
      }
     .w3-left, .w3-right, .w3-badge {
      cursor:pointer;
      }
     .w3-badge {
      height:13px;
      width:13px;
      padding:0;
      }
