 body {
        background: #FFFFFF;
        margin: 0;
      }
      header{
        background-color: black;
        font-family: fantasy;
        font-size: 20px;
        padding: 5px;
      }
      main{
        background: #FFFFFF;
        margin: 0;
      }
      a{
        color:#ffec9f;
        text-align: left;
        text-decoration:none;
      }
      #p1{
        float: right;
      }
      article{
        height: 300px;
        margin: 80px 20px 20px;
        max-width: 300px;
        font-family: cursive;
        font-size: 20px;
        float: left;
        text-align: left;
      }
      p1{
        color:yellow;
      }
      p2{
        color:red;
      }
.mySlides {display:none;}
