/*ul { 取消ul預設的內縮及樣式
        margin: 0;
        padding: 0;
        list-style: none;
    }*/
    ul{
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow:hidden;
    }
    ul.dropdownmenu {
        border: #ccc 1px solid;
        display: inline-block;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 13px;
    }

   /* ul.dropdownmenu li {
        position: relative;
        white-space: nowrap;
        border-right: #ccc 1px solid;
    }*/
    ul.dropdownmenu li {
        float: right;
        width: 120px;
        text-align: right;
        font-size: 30px;
        display: none;
        position: relative;
        white-space: nowrap;
        border-right: #ccc 1px solid;
        left: 99999px;
        opacity: 0;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    ul.dropdownmenu li:hover > ul { /* 滑鼠滑入展開次選單*/
        display: block;
        opacity: 1;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        left: -1px;
        border-right: 5px;
    }
    ul.dropdownmenu > li:last-child {
        border-right: none;
    }

    ul.dropdownmenu > li {
        float: right; /* 只有第一層是靠左對齊*/
    }

    /* ul.dropdownmenu a {
        background-color: #fff;
        color: #333;
        display: block;
        padding: 0 30px;
        text-decoration: none;
        line-height: 40px;
    }*/
    ul.dropdownmenu a {
        display: block;
        color: #ffec9f;
        text-align: right;
        padding: 16px;
      text-decoration: none;
    }
    ul.dropdownmenu a:hover { /* 滑鼠滑入按鈕變色*/
        background-color: #ef5c28;
        color: #a9e2d2;
    }
    ul.dropdownmenu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
        background-color: #ef5c28;
        color: #fff;
    }
